/* 列表的块样式 */
.Icontainer {
  border: 1px solid #ebeef5;
  box-sizing: border-box;
  margin-bottom: 10px;
  flex-direction: column;
  box-shadow: 0 1px 8px #dee0e0;
}
.IcontainerTopTitle {
  padding-left: 10px;
  font-size: 14px;
  box-sizing: border-box;
  text-align: left;
}
.IcontainerTopBtns,
.IcontainerTopTitle {
  flex: 1;
}
.IcontainerTopRow {
  display: flex;
  background: #ebeef5;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
}
.IcontainerTopBtns {
  text-align: right;
  padding-right: 10px;
  box-sizing: border-box;
}
.searchFormBody {
  background: #f5f7fa;
  padding-right: 40px;
  padding-top: 20px;
  box-sizing: border-box;
}
/* 块的标题 */
.cardTitle {
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  font-size: 12px;
  font-weight: 600;
  position: relative;
}
.cardTitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 7px;
  height: 20px;
  background: #19be6b;
  border-radius: 10px;
}
